body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}

.page-container {
    display: flex;
    justify-content: center; /* từ flex-end -> center */
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* để logo trái - form phải */
    width: 90%;
    max-width: 1100px;
    gap: 60px;
}

.logo-section {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* căn trái */
    align-items: center;

}

.logo-section .mascot {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* --- Form đăng nhập --- */
.login-container {
    flex: 1;
    max-width: 420px;
    background: #fff;
    padding: 40px 35px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.login-container h2 {
    color: #234bbb;
    font-weight: 700;
    margin-bottom: 25px;
}

.form-control {
    height: 50px;
    border-radius: 8px;
}

.btn-login {
    background-color: #0051c6;
    color: #fff;
    border: none;
    height: 50px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #003a8c;
    color: #fff;
}

.forgot-pass {
    display: block;
    margin: 12px 0;
    color: #1a73e8;
    text-decoration: none;
    text-align: center;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #777;
}

.divider::before, .divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
    margin: 0 10px;
}

.page-container {
    background-image: url("https://export-download.canva.com/OKk_8/DAG6IwOKk_8/3/0/0001-6652302788220292204.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUH5AO7UJ26%2F20251130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251130T012222Z&X-Amz-Expires=14784&X-Amz-Signature=dd75386bf7114558ee1863244178c87b2d80dd18ff280a4aac17400804cb5794&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Yellow%2520Blue%2520Cute%2520Illustration%2520Pet%2520Shop%2520Presentation.png&response-expires=Sun%2C%2030%20Nov%202025%2005%3A28%3A46%20GMT"); /* đổi thành ảnh bạn muốn */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
