<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Lịch sử mua hàng</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/purchasehistory.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">

</head>
<body>


<div id="lich-su-mua-hang">
    <h2>Đơn hàng đã mua gần đây</h2>

    <table>
        <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Ngày đặt mua</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>

        <!-- Đơn hàng 1 -->
        <tr id="don-hang-1">
            <td><a href="#" class="ma-don">#5432177</a></td>
            <td>
                <div class="san-pham">
                    <img src="../image/content/DJI Mini 3.png" alt="DJI Mini 3" class="anh_san_pham me-3" width="120">
                    <div>
                        <div class="ten-san-pham">DJI Mini 3</div>

                        <a href="product-details.html" class="nut-xem-chi-tiet">Xem chi tiết</a>
                    </div>
                </div>
            </td>
            <td class="gia">8.990.000₫</td>
            <td>05/11/2025</td>
            <td class="trang-thai da-huy">Đã hủy</td>

            <td><a href="payment.html"><button class="nut-mua-lai">Mua lại</button></a></td>

        </tr>

        <!-- Đơn hàng 2 -->
        <tr id="don-hang-2">
            <td><a href="#" class="ma-don">#5432152</a></td>
            <td>
                <div class="san-pham">
                    <img src="../image/content/DJI Mini 4K.png" alt="DJI Mini 4K" class="anh_san_pham me-3" width="120">
                    <div>
                        <div class="ten-san-pham">DJI Mini 4K</div>
                        <a href="product-details.html" class="nut-xem-chi-tiet">Xem chi tiết</a>
                    </div>
                </div>
            </td>
            <td class="gia">9.607.000₫</td>
            <td>10/11/2025</td>
            <td class="trang-thai da-nhan-hang">Đã nhận hàng</td>
            <a href="payment.html">
            <td><a href="payment.html"><button class="nut-mua-lai">Mua lại</button></a></td>
            </a>
        </tr>

        </tbody>
    </table>
</div>



        </div>

    </div>



</body>
<script>

</script>
</html>
