{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Tạo mật khẩu mới</title>
    <link rel="stylesheet" href="{% static 'css/create-new-password.css' %}">
</head>
<body>

<div class="khung">
    <img src="{% static 'image/logoo.png' %}" class="mascot">

    <h1>Tạo mật khẩu mới</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label>Mật khẩu mới</label>
            {{ form.new_password1 }}
        </div>

        <div class="form-group">
            <label>Nhập lại mật khẩu</label>
            {{ form.new_password2 }}
        </div>

        {% for field in form %}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endfor %}

        <button type="submit" class="nut nut_xac_nhan">Xác nhận</button>
    </form>
</div>

</body>
</html>
