{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="{% static 'css/forgot-password.css' %}">
</head>
<body>

<div class="khung">
    <img src="https://res.cloudinary.com/dwnbmfhel/image/upload/v1764038017/z7195574147136_4515011aa6bd8fb3801ff37f93280684_gahjde.jpg" class="mascot" alt="mascot">

    <h1>Quên mật khẩu</h1>

    <p class="huong_dan">
        Nhập email để nhận link đặt lại mật khẩu
    </p>

    <form method="post">
        {% csrf_token %}

        <label>Email</label>
        {{ form.email }}

        <div class="nut_nhom">
            <a href="{% url 'login' %}" class="nut nut_quay_lai">⬅ Quay lại</a>
            <button type="submit" class="nut nut_tiep_tuc">Tiếp tục</button>
        </div>
    </form>
</div>

</body>
</html>
